canvas {
   background: black;
}
:unresolved {
 border: 1px dashed red;
 display: inline-block;
}

custom-element:unresolved {
   color: red;  
}

custom-element {
   color: green;
}

.white {
   color: white !important;
}

.small {
   width: 30%;
}

.short {
   height: 300px;
}

.tall {
   height: 500px;
}

.taller {
   height: 700px;
}

.big {
   width: 60%;
}

.bigger {
   width: 80%;
}

.biggest {
   width: 100%;
}

.left {
   float: left;
}

.right {
   float: right;
}

.left .image {
   height: 50%;
}

.pink {
   color: #CC9393;
}

.big-font {
   font-size: 140% !important;
   font-weight: normal !important;
}

.no-border {
   border: none !important;
   box-shadow: none !important;
   background: none !important;
}

.text-left{
   text-align: left !important;
}

.text-right{
   text-align: right !important;
}

.code-editor {
   text-align: left !important;
   vertical-align: bottom !important;
   letter-spacing: 0.em !important;
   margin: none !important; 
   font: none !important;
   line-height: normal !important;
   font-family: 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace !important;
}

.ace_fold-widget {
   margin-bottom: 0px !important;
   margin-left: 1px !important;
   margin-right: -12px !important;
   margin-top: 0px !important;
}

.ace_gutter-cell {
   vertical-align: top !important;
}

.toast {
   font-family: "Quicksand", sans-serif;
}

.btn {
   display: inline-block;
   padding: 6px 12px;
   font-size: 14px;
   font-weight: normal;
   line-height: 1.428571429;
   text-align: center;
   white-space: nowrap;
   vertical-align: middle;
   cursor: pointer;
   border: 1px solid transparent;
   border-radius: 4px;
   background-color: 
}

.btn-blue {
   color: #ffffff;
   background-color: #428bca;
   border-color: #357ebd;
}
